<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Resto Radar</title>
  <%= stylus_tag 'styles' %>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
</head>
<body>
  <h1>
    <a href="/">Resto Radar</a>
  </h1>
  <div id="restos"></div>
  <a class="foursquare" href="http://foursquare.com/">
    <img src="<%= data_uri 'powered-by-foursquare.png' %>" alt="Powered by Foursquare" width="241">
  </a>
  <%= coffee_script_tag 'scripts' %>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31026266-4']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
